body {
  overflow: auto;
  max-width: 1200px;
}

.pics {
  @include span-columns(12 of 12);
  .pictures {
    @include span-columns(11 of 12);
    display: block;
    margin: auto;
    .content {
      border: 1px dotted black;
      @include span-columns(4 of 12);
      margin-right: 0px;
      margin-right: 1%;
      margin-bottom: 10px;
      .text {
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 21px;
        padding-left: 5px;
        h1 {
          margin-top: 10;
          text-align: center;
        }
      }
      @include content(400px, cat, orange);
      @media #{$br-medium} {
        @include span-columns(6 of 12);
        margin-right: 1%;
      }
      @media #{$br-small} {
        @include span-columns(12 of 12);
        margin-right: 0px;
      }
    }
  }
}
