
@mixin content($height, $img, $color) {
  position: relative;
  height: $height;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/#{$img}.jpg');
  @extend %background
  .text, .picbox {
    @include span-columns(6 of 12);
  }
  .text {
    min-height: $height / 1.5;
  }
  .picbox {
    margin-top: 25px;
    background-image: url('../img/#{$img}.jpg');
    @extend %background
    height: $height / 1.5;
  }
}

// @mixin content($height) {
//   height: $height;
//   .text, .picbox {
//     @include span-columns(6 of 12);
//     margin-right: none;
//   }
// }
